
.App {
    background-color: lightgray;
    width: 1000px;
    min-height: 800px;
    margin:  auto;
}

.Navigation {
    text-align: center;
    background-color: slategray;
}

.Navigation a {
    padding: 5px;
}


.Organisations {
    background-color: pink;
    width: 120px;
}

.org {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    background-color: ghostwhite;
    border: 3px solid black;
    text-align: center;
}

.org p {
    margin:0;
}

.org img {
    width: 60px;
    height: 60px;
}

.Notifications {
    background-color: slategrey;
    /* float: right;
    margin-top: -500px; */
    border: 1px solid black;
    padding: 3px;

}

.notis {
    width: 250px;
    height: 100px;
    margin-bottom: 10px;
    background-color: lightblue;
    border: 3px solid black;
    text-align: center;
}

.notis p {
    margin:0;
}

#unread-notis {
    
}

.unread-notification {
    width: 250px;
    height: 100px;
    margin-bottom: 10px;
    background-color: lightpink;
    border: 3px solid black;
    text-align: center;
}

.unread-notification p {
    margin:0;
}
