
.App {
    background-color: lightgray;
    width: 1000px;
    /* min-height: 800px; */
    margin:  auto;
}

.Navigation {
    text-align: center;
    background-color: slategray;
}

.Navigation a {
    padding: 5px;
}


.Organisations {
    width: 120px;
}

.org {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    background-color: ghostwhite;
    border: 3px solid black;
    text-align: center;
}

.org p {
    margin:0;
}

.org img {
    width: 60px;
    height: 60px;
}

.Notifications {
    background-color: lightgray;
    /* float: right;
    margin-top: -500px; */
    border: 1px solid black;
    min-height: 700px;
    width: 997px;
    display: inline-block;
    position: relative;
}

.notis {
    width: 250px;
    height: 100px;
    margin-bottom: 10px;
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    /* float:left; */
    margin: 5px;
}

.notis p {
    margin:0;
}

#unread-notis {
    
}

.unread-notification {
    width: 250px;
    height: 100px;
    margin-bottom: 10px;
    background-color: lightpink;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    
    margin: 5px;
}

.unread-notification p {
    margin:0;
}



#subscription-options {
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    width: 200px;
    position: absolute;
    background-color: ghostwhite;
    top: 5px;
    right: 5px;
}

.input-option{
    margin: 0;
    border-bottom: 1px solid slategray;
}
