
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.App {
    background-color: #fef6fa;
    width: 1200px;
    min-height: 800px;
    font-family: "Open Sans", Impact;
    margin:  auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #fadff0;
    position: relative;
}

.Navigation {
    text-align: center;
    background-color: #f2d9e6;
    height: 45px;
    border-bottom: 1px solid #db8ab4;
}

.Navigation a {
    padding: 3px;
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin-left: 100px;
    text-align: center;
    border-radius: 5px;
    background-color: #f2d9e6;
    transition: background-color 0.1s;
}

.Navigation a:hover {
    font-size: 30px;
    background-color: #e7b1cd;
}


.Organisations {
    background-color: #fef6fa;
}

.Organisations h3 {
    opacity: 0.7;
    text-align: center;
    padding-top: 10px;
}

.org {
    width: 140px;
    height: 200px;
    margin: 45px;
    background-color: #fdf8fb;
    border: 1px solid lightgrey;  
    text-align: center;
    float: left;
    box-shadow: 2px 2px 4px rgba(0,0,21,0.2);
    opacity: 0.8;
    transition: box-shadow 0.2s, opacity 0.2s;
    position: relative;
}

.org:hover {
    box-shadow: 4px 4px 4px rgba(0,0,21,0.5);
    opacity: 1;
}

.org a {
    text-decoration: none;
    color: black;
    
}

.org p {
    padding: 3px;
    font-weight: bold;
}


.org img {
    width: 100px;
    height: 100px;
}

.count-notifications {
    background-color: rgb(253, 138, 215);
    width: 30px;
    margin: 0 auto;
}

.Notifications {
    width: 1200px;
    min-height: 800px;
    display: inline-block;
    position: relative;
}

#notification-container {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 275px;
    height: 795px;
    overflow-y: auto;
}

.notis {
    width: 250px;
    height: 100px;
    margin-bottom: 10px;
    background-color: #fdf8fb;
    border: 2px solid #c892b4;
    box-shadow: 4px 2px 3px rgba(0,0,21,0.2);
    border-radius: 5px;
    position: relative;
}

.notis p {
    margin:5px;
    font-size: 14px;
    width: 180px;
}

.notis a {
    text-decoration: none;
    color: black;
    font-size: 11px;
    position: absolute;
    bottom: 0px;
}

.notis img {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0px;
    right: 0px;
    box-shadow: 4px 2px 3px rgba(0,0,21,0.2);
    border: 1px solid lightgray;
}


.unread-notification {
    width: 250px;
    height: 100px;
    margin-bottom: 10px;
    background-color: #fdf8fb;
    border: 2px solid #c892b4;
    box-shadow: 4px 2px 3px rgba(0,0,21,0.2);
    border-radius: 5px;
    position: relative;
}

.unread-notification p {
    margin: 0px;
}

.notification-url a {
    font-size: 10px;
    position: absolute;
    bottom: 0px;
}



#subscription-options {
    border-radius: 5px;
    width: 200px;
    position: absolute;
    top: 250px;
    left: 5px;
    padding: 5px;
    margin: 15px;
    background-color: #fdf8fb;
    border: 2px solid #c892b4;
    box-shadow: 4px 2px 3px rgba(0,0,21,0.2);
    transition: box-shadow 0.2s;
}

#subscription-options h3 {
    text-align: center;
    border-bottom: 1px solid #c892b4;
}

#subscription-options button {
    border: 1px solid #c892b4;
    background-color: none;
    margin-left: 15px;
    margin-bottom: 2px;
}

.input-option{
    margin: 5px;
}

.Home {
    padding: 5px;
}


